.deck-prev-link, .deck-next-link {
    display: none;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 70px;
    height: 70px;
    margin-top: -18px;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #888;
    border-radius: 20px;
}
.deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
    color: #fff;
}

.deck-prev-link {
    left: 8px;
}

.deck-next-link {
    right: 8px;
}

.deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link {
    display: block;
}
.deck-container:hover .deck-prev-link.deck-nav-disabled, .touch .deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link.deck-nav-disabled, .touch .deck-container:hover .deck-next-link {
    display: none;
}

@media print {
    .deck-prev-link, .deck-next-link {
        display: none !important;
    }
}
